/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./vite-promo.css');
@import url('./badges.css');
.visually-hidden {
  display: none;
}
.gallery-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-top: 36px;
}
.search-input {
  width: 272px;
  height: 40px;
  top: 28px;
  left: 28px;
  gap: 8px;
  opacity: 0px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 1);
  transition: border-color 0.3s ease;
  padding-left: 15px;
}
.search-input:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}
.search-input:active {
  border: 1px solid rgba(78, 117, 255, 1);
}
.search-btn {
  width: 75px;
  height: 40px;
  top: 268px;
  left: 28px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: rgba(78, 117, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease;
}
.search-btn:hover {
  background-color: rgba(108, 140, 255, 1);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
.gallery-card {
  border: 1px solid rgba(128, 128, 128, 1);
}
.js-gallery {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}
.image-info {
  display: flex;
  gap: 25px;
  margin-bottom: 4px;
  justify-content: space-around;
}
.image-additional-info {
  display: flex;
  flex-direction: column;
}

.loader {
  background: url(/src/img/Spin@1x-1.0s-200px-200px.gif) no-repeat center center;
  background-size: 10%;
  display: flex;
  justify-content: center;
  opacity: 0;
}
.loader:not(.visually-hidden) {
  opacity: 1;
}
